html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#sidebar {height: 100%; width: 20%; float: left; }
#map { height: 100%; width: 80%; float: right; }

ul.legend li {
  list-style: none;
}

ul.footer {
  position: absolute;
  bottom: 0;
}

ul.footer li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}
