html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map { height: 100%; width: 100%; float: right; }

#sidebar {
	position: absolute;
	left: 70%;
	height: 80%;
	width: 20%;
	padding: 2%;
	margin: 2%;
	background-color: #C9C9C9;
	opacity: 0.8;
	border-radius: 3%;
	z-index: 1138;
}

ul.legend li {
  list-style: none;
}

ul.footer {
  position: absolute;
  bottom: 0;
}

ul.footer li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}
